@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap');

@import "./bootstrap.scss";

$black: #000;
$white: #fff;
$glow: #6d4484;

$image-shadow: 0 0 5px $white, 0 0 20px $glow, 0 0 30px $glow, 0 0 40px $glow;

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
    font-size: 0.95em;
}

section {
    padding: 5rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
ul,
li,
button,
input,
label {
    margin: 0;
    padding: 0;
    color: $white;

    &.black {
        color: $black;
    }
}

img {
    max-width: 100%;

    &.glow {
        border: 2px solid $white;
        box-shadow: $image-shadow;
    }
}

button {
    // padding:0.5rem;
    width: 9rem;
    height: 3rem;
    font-size: 1em;
    font-weight: 700;
    font-family: 'Urbanist', sans-serif;
    text-transform: uppercase;
    border: none;
    border-radius: 2rem;
    background-color: $white;
    color: $black;

    &.black {
        background-color: $black;
        color: $white;
    }

    &.transparent {
        border: 2px solid $white;
        background-color: transparent;
        color: $white;
    }
}

hr {
    width: 100%;
    margin-top: 0.5rem;
    border-bottom: 1px solid $white;

    &.black {
        border-bottom: 1px solid $black;
    }

    &:not(.black) {
        box-shadow: 0 0 25px $white, 0 0 10px $white;
    }
}

h1,
h2 {
    font-size: 6em;
    line-height: 1em;
    font-weight: 500;

    &:not(.black) {
        text-shadow: 0 0 20px $glow, 0 0 30px $glow, 0 0 40px $glow, 0 0 55px $glow, 0 0 75px $glow;
    }

    .black {
        color: $black;
    }
}

@media (max-width:992px) {

    h1,
    h2 {
        font-size: 5em!important;
    }
}

@media (max-width:768px) {

    h1,
    h2 {
        font-size: 4em;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    min-height: 100vh;
    width: 100%;
    background-color: $black;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
}

.row {
    &>* {
        padding-right: 0;
        padding-left: 0;
    }

    &.row-right {
        margin-left: 0;
        margin-right: auto;
    }

    margin: 0 auto;
    width:100%;
    max-width: 1200px;
}

.text-section {

    &__title {
        display: block;
        font-size: 1.2em;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    &__description {}
}

.header {
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;

    .logo {
        display: flex;
        align-items: center;
        padding-left: 0.25rem;

        &__title {
            padding-left: 0.5rem;
            font-weight: 800;
        }
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__item {
            font-weight: 600;
            padding-bottom: 0.25rem;

            &:not(.get-started){
                padding-left: 6px;
            }

            &.get-started {
                font-weight: 800;
                padding: 0.25rem;
                border-radius: 2rem !important;
                background-color: $white !important;

                .menu__link {
                    color: $black !important;
                }
            }
        }
    }

    .navigation {
        display: flex;
        align-items: center;

        &__search {
            background: none;
            border: none;
            outline: none;
            color: $white;
        }

        &__submit {
            border: none;
            background-color: transparent;
            background-image: url(../images/icons/search.png);
            background-repeat: no-repeat;
            height: 2em;
            width: 2em;
        }
    }
}

.home {

    &-main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__moto {
            text-transform: uppercase;
            font-weight: 700;
        }

        &__title {
            padding-bottom: 3rem;
        }

        &__buttons {

            .col-md-6 {

                button {}
            }
        }
    }

    &-thumbnail {

        &__image {}
    }

    &-interesting-page {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &__image {
            margin-bottom: 3rem;
            margin-right: 35%;
        }

        .text-section {

            .text-section__title {}

            .text-section__description {}
        }
    }
}

.description {
    padding: 10rem 0;

    &-thumbnail {
        display: flex;
        flex-direction: column;

        &:first-of-type {
            justify-content: flex-end;
        }

        &:last-of-type {
            justify-content: flex-start;
        }

        &__image {}
    }

    &-information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
        text-align: center;

        &__moto {
            text-transform: uppercase;
            font-weight: 700;
            padding-bottom: 2rem;
        }

        &__title {
            padding-bottom: 2rem;
        }

        &__description {}
    }
}

.features {

    &__title {
        text-align: center;
        margin-bottom: 2rem;
    }

    &-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .phone-calculator {
        display: flex;
        justify-content: center;

        .phone {
            width: 50%;
            padding: 2.5rem;
            border: 0.6rem solid $white;
            border-radius: 2rem;
            box-shadow: $image-shadow;
            box-shadow: inset 0 0 5px $black, 0 0 20px $black, 0 0 30px $black, 0 0 40px $black;
            background-color: $white;
            color: $black !important;

            &-logo {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &__image {}

                &__title {
                    color: $black;
                    font-weight: 800;
                }
            }

            .calculator {
                display: flex;
                flex-direction: column;
                align-items: center;

                &>* {
                    margin-bottom: 1rem;
                }

                &__title {
                    margin-top: 3rem;
                    color: $black;
                    font-weight: 700;
                    font-size: 1.2em;
                }

                &__from,
                &__to {
                    max-width: 100%;
                    font-size: 1.5rem;
                    border: 0.2rem solid $black;
                    border-radius: 3rem;
                }

                &__from-label,
                &__to-label {
                    width: 100%;
                    text-align: left;
                    color: $black;
                    font-weight: 700;
                }

                &__description {
                    margin-top: 3rem;
                    color: $black;
                    font-weight: 700;
                }

                &__calculation {
                    color: $black;
                    font-weight: 700;
                    font-size: 1.2em;
                }

                &__trade {
                    margin-top: 2rem;
                    margin-bottom: 3rem;
                    width: 9rem;
                    height: 3rem;
                    font-size: 1em;
                    font-weight: 600;
                    font-family: 'Urbanist', sans-serif;
                    text-transform: uppercase;
                    border: none;
                    border-radius: 2rem;
                    background-color: $black;
                    color: $white;

                }
            }

            &-links {
                display: flex;
                justify-content: space-between;

                &__item {}

                &__link {
                    color: $black;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.get-started {
    padding: 0;
    background-color: $white;

    &-information {
        padding: 10rem 0;

        &>* {
            margin-top: 2rem;
        }

        &__subtitle {
            font-weight: 700;
            font-size: 1.2em;
        }

        &__title {}

        &__description {}

        &__button {}
    }

    &-thumbnail {

        &__image {
            width: 100%;
            height: 80%;
            border: 2px solid $black;
        }

        &__border {
            padding-right: 4px;
            margin-left: 25%;
            width: fit-content;
            height: 100%;
            display: flex;
            align-items: center;
            border: 1px solid $black;
        }
    }
}

.interesting-page {
    padding: 0;

    &-thumbnail {
        display: flex;
        align-items: center;
        padding-top: 8px;

        &__image {
            width: auto;
            height: 100%;
        }
    }

    &-information {
        padding: 10rem 0;
        text-align: center;

        &>* {
            margin-bottom: 2rem;
        }

        &__title {}

        &__description {}

        &__button {}
    }
}

.pages {
    &__title {
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: flex;

        &:nth-of-type(2n) {
            justify-content: flex-end;
        }
    }
}

.page-card {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    width: 70%;

    &__image {
        margin-bottom: 1rem;
    }

    &__link {
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        font-size: 1.2em;
    }
}

.benefits {
    padding: 7.5rem 0;
    background-color: $white;

    &-title {
        text-align: center;

        &__subtitle {
            text-transform: uppercase;
        }

        &__title {
            margin-bottom: 5rem;
        }
    }

    &-list {
        margin-top: 1rem;

        &__item {

            .text-section {
                padding: 2rem;

                .text-section__title {
                    text-transform: uppercase;
                    color: $black;

                }

                .text-section__description {
                    color: $black;

                }
            }
        }
    }
}

.comments {
    padding: 7.5rem 0;

    &-title {
        padding-bottom: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &__title {}

        &__subtitle {
            display: block;
            margin-top: 2rem;
            font-weight: 700;
            font-size: 1.2em;
            text-transform: uppercase;
        }

    }

    &-list {}
}

.comment {

    .comment__description {
        margin-bottom: 0.75rem;
    }

    .comment__commentator {
        font-weight: 700;
        font-size: 1.2em;
    }

    margin-bottom: 3rem;
}

.footer {
    padding: 6rem 0 3.5rem 0;

    &-list {}

    &-section {

        &__title {
            display: block;
            font-weight: 700;
            font-size: 1.2em;
            text-transform: uppercase;
            margin-bottom: 0.5rem;
        }

        &__list {}

        &__item {
            margin-bottom: 0.25rem;
        }

        &__link {}
    }

    &-copyright {
        margin-top: 3rem;
    }
}