@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap');

@import "./bootstrap.scss";

$black: #000;
$white: #fff;
$glow: #6d4484;

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
ul,
li,
button,
input,
label {
    margin: 0;
    padding: 0;
    color: $white;

    &.black {
        color: $black;
    }
}

img {
    max-width: 100%;

    &.glow {
        border: 2px solid $white;
        box-shadow: 0 0 5px $white, 0 0 20px $glow, 0 0 30px $glow, 0 0 40px $glow;
    }
}

button {
    border: none;
}

hr {
    width: 100%;
    margin-top: 0.5rem;
    border-bottom: 1px solid #fff;
    box-shadow: 0 0 25px $white, 0 0 10px $white;
}

h1,
h2 {
    text-shadow: 0 0 20px $glow, 0 0 30px $glow, 0 0 40px $glow, 0 0 55px $glow, 0 0 75px $glow;
    font-size: 6em;
    font-weight: 500;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    min-height: 100vh;
    width: 100%;
    background-color: $black;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
}

.row {
    &>* {
        padding-right: 0;
        padding-left: 0;
    }

    margin: 0 auto;
    width:100%;
    max-width: 1200px;
}

.header {
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;

    .logo {
        display: flex;
        align-items: center;

        &__title {
            padding-left: 0.5rem;
            font-weight: 800;
        }
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__item {
            font-weight: 600;

            &.get-started {
                font-weight: 800;

                .menu__link {
                    padding: 0.25rem;
                    border-radius: 2rem;
                    background-color: $white;
                    color: $black !important;
                }
            }
        }
    }

    .navigation {
        display: flex;
        align-items: center;

        &__search {
            background: none;
            border: none;
            outline: none;
            color: $white;
        }

        &__submit {
            border: none;
            background-color: transparent;
            background-image: url(../images/icons/search.png);
            background-repeat: no-repeat;
            height: 2em;
            width: 2em;
        }
    }
}